<header style="background-color: #47484a; text-align: center; display:flex; justify-content: center; align-items: center; color: #fff;">
  <div style="display: flex; width: 100%; justify-content: space-between;">
    <div style="display: flex;" >
      <p style="margin: 10px;">Shops</p>
      <p style="margin: 10px;">Delivery</p>
      <p style="margin: 10px;">For business</p>
    </div>
    <div style="display: flex;">
      <p style="margin: 10px;">Blog "M.Tech"</p>
      <p style="margin: 10px;">M.Tech</p>
      <p style="margin: 10px;">8-800-600-7775</p>
    </div>
  </div>
</header>

<div class="container mt-5">
  <button (click)="goBack()" class="btn btn-primary">Back</button>
  <div class="item mt-4">
    <img style="height: 330px; width: 330px;" class="card-img-top" [src]="product.imageUrl" alt="Something went wrong">
    <h2 class="mt-3">{{ product.name }}</h2>
    <p class="mb-3">Price: {{ product.price }} $</p>
    <button (click)="addToCart(product)" class="btn btn-success">Buy</button>
    <p class="mt-3">{{ product.description }}</p>
  </div>
</div>

<div class="container mt-5">
  <h2 class="mb-3">Comments</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let comment of commentsList.comments">{{ comment }}</li>
  </ul>
</div>

<div class="container mt-5">
  <h2 class="mb-3">Add Comment</h2>
  <form (ngSubmit)="addComment(newCommentText)" class="needs-validation" novalidate>
    <div class="form-group">
      <textarea [(ngModel)]="newCommentText" #myComment="ngModel" name="commentText" class="form-control" required></textarea>
    </div>
    <br>
    <button type="submit" [disabled]="myComment.untouched || myComment.invalid" class="btn btn-primary">Add Comment</button>
  </form>
</div> 
