<button (click)="goBack()">Back</button>
<div class="item" >
    
        <img [src]="product.image" alt="Product Image" width="300">
    <h2>{{ product.name }}</h2>
    <p>Price: {{ product.price }} $</p>
    <button (click)="addToCart(product)">Buy</button>
    <p>{{ product.description }}</p>
   
</div>
<div>
  <h2>Комментарии</h2>
  <ul>
    <li *ngFor="let comment of commentsList.comments">{{ comment }}</li>
  </ul>
</div>

<div>
  <h2>Добавить комментарий</h2>
  <form (ngSubmit)="addComment(newCommentText)">
    <textarea [(ngModel)]="newCommentText" #myComment="ngModel" name="commentText" required></textarea>
    <button type="submit"[disabled]="myComment.untouched|| myComment.invalid" >Добавить комментарий</button>
  </form>
</div>

