<div class="container" style="background-color: #f0f0f0; padding: 20px;">
    <div class="row">
        <div class="col-md-6">
            <div class="item">
                <img class="img-fluid" [src]="product.image" alt="Product Image" width="300">
                <h2>{{ product.productName }}</h2>
                <p>Price: {{ product.price }} $</p>
                <button class="btn btn-primary btn-lg">Buy Now</button>
                <p>{{ product.description }}</p>
                <ul class="list-group" *ngFor="let comment of product.comments">
                    <li class="list-group-item">{{comment}}</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button class="btn btn-secondary btn-lg" (click)="goBack()">Back</button>
</div>