<div class="navigation">
  <div class="search">
    <input type="search" [(ngModel)]="filter">
  </div>
  <button (click)="goToAdminPage()">Admin</button>
  <div class="cart" (click)="goToCart()">Cart<span class="cartCounter">{{ getCartItemCount() }}</span></div>
</div>

<div class="items-list">
  <div *ngFor="let product of this.showedProducts" class="item" (click)="goItem(product)">

    <img [src]="product.image" alt="Something went wrong" width="150">
    <p class="productName">{{product.name}}</p>
    <p class="price">{{product.price}} $</p>

  </div>
</div>
<div class="pagination">
  <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">
    Previous page
  </button>
  <span>{{ currentPage }}</span>
  <button (click)="currentPage = currentPage + 1" [disabled]="currentPage >= filteredProducts.length/elementsOnThePage">
    Next page
  </button>
</div>