<div class="search">
     <input type="search">
     <button>Search</button>
</div>
<button>Admin</button>
<div>Cart</div>
<div class="items-list">
     <div *ngFor="let product of this.showedProducts" class="item" (click)="goItem(product)">

          <img [src]="product.image" alt="Something went wrong" width="150">
          <p class="productName">{{product.name}}</p>
          <p class="price">{{product.price}} $</p>

     </div>
</div>
<div class="pagination">
  <button
    (click)="currentPage = currentPage - 1"
    [disabled]="currentPage === 1"
  >
    Previous page
  </button>
  <span>{{ currentPage }}</span>
  <button
    (click)="currentPage = currentPage + 1"
    [disabled]="currentPage >= products.length/elementsOnThePage"
  >
    Next page
  </button>
</div>








