<div class="search">
     <input type="search">
     <button>Search</button>
</div>
<button>Admin</button>
<div>Cart</div>
<div class="items-list">
     <div class="item" *ngFor="let product of this.products" (click)="goItem(product)">

          <img [src]="product.image" alt="Something went wrong" width="150">
          <p class="productName">{{product.name}}</p>
          <p class="price">{{product.price}} $</p>

     </div>
</div>
  <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" pageSize="5" [page]="page" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination>
  {{page}}
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="itemsPerPage" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination> -->
